body {
  padding: 3em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
}

#AddEventForm {
  margin: 4em;
  display: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#StudentList {
  margin: 4em;
  display: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#AddGeneralEvent {
  margin: 4em;
  display: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.inputEvent, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.centered {
  max-width: 55%;
  margin: 0px auto;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#weekTable {
  width: 100%;
  margin: 20px 0;
}

.weekdays td {
  border: .5px solid #aaa;
  background-color: #fff;
}

ins {
  display: block;
  text-decoration: none;
  text-align: center;
}

.weekdays .isToday {
  border-bottom: 2px solid orange;
}

.weekdays .isWeekend {
  background-color: transparent;
}

.switchButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Grey {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.Grey:hover {
  background-color: #e7e7e7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
